    <!-- Books -->
    <div class="flex justify-center items-center lg:min-h-[60vh] md:min-h-[50vh] min-h-[45vh]">
      <div id="prev"><i class="fa-solid fa-angle-left arrow"></i></div>
      <div class="bracket-box first lg:m-4 m-3">
          <div class="bracket">Jan</div>
          <div class="bracket">Feb</div>
          <div class="bracket">Mar</div>
          <div class="bracket">Apr</div>
          <div class="bracket">May</div>
          <div class="bracket">Jun</div>
          <div class="bracket">Jul</div>
          <div class="bracket">Aug</div>
          <div class="bracket disable">Sep</div>
          <div class="bracket disable">Oct</div>
          <div class="bracket disable">Nov</div>
          <div class="bracket disable">Dec</div>
      </div>
      <div class="base relative">
          <div class="page page-active-prev">
              <div class="back">
                  <div class="outer relative">

                      <div class="flex w-full h-full lg:gap-5 gap-3 z-50">
                          <div class="flex flex-1 lg:gap-5  gap-3 first-page">
                              <div class="content-column">
                                  <div class="content-item row-start-1 row-end-3 item-border">
                                      <div class="lg:text-3xl text-lg md:mt-2 m-0">
                                          SEP <br>
                                          10-16
                                      </div>
                                  </div>
                                  <div class="content-item row-start-3 row-end-10 text-center item-border">
                                      <div class="mb-2">
                                          <div class="text-lg lg:text-3xl">10 </div>
                                          <span class="bg-zinc-300 lg:p-1 p-[0.2rem] px-2 text-white text-[0.7rem] lg:text-[1rem]">MONDAY</span>
                                      </div>
                                      <textarea name="xxx" id="xxx">
                                          - Sabah Egzersizi
                                          - Günlük E-Postaları Kontrol Et
                                          - Su İçmeyi Hatırla
                                          - Proje Güncellemesi Hazırla
                                      </textarea>
                                  </div>
                                  <img class="content-item row-start-10 row-end-13" src="https://i.pinimg.com/564x/09/32/c8/0932c8d7a39be14883e68421cce40f86.jpg">
                              </div>
                              <div class="content-column">
                                  <img class="content-item row-start-1 row-end-4" src="https://i.pinimg.com/564x/d0/cd/e8/d0cde8e2ec4d8637227da01ddc460cfe.jpg">
                                  <div class="content-item row-start-4 row-end-11 item-border active">
                                      <div class="lg:mb-2">
                                          <div class="text-lg lg:text-3xl">11 </div>
                                          <span class="bg-zinc-300 lg:p-1 p-[0.2rem] px-2 text-white text-[0.7rem] lg:text-[1rem]">TUESDAY</span>
                                      </div>
                                      <textarea name="xxx" id="xxx">
                                          - Kitap Okuma
                                          - Toplantı
                                          - Aile ile Görüşme
                                          - Sosyal Medya Süresi
                                          - Uyku Düzenine Dikkat Et
                                      </textarea>
                                  </div>
                                  <div class="content-item bg-[#f1dff2aa] row-start-11 row-end-13"></div>
                              </div>
                              <div class="content-column">
                                  <div class="content-item bg-[#dedff29a] row-start-1 row-end-3"></div>
                                  <div class="content-item row-start-3 row-end-10 item-border">
                                      <div class="lg:mb-2">
                                              <div class="text-lg lg:text-3xl">12 </div>
                                              <span class="bg-zinc-300 lg:p-1 p-[0.2rem] px-2 text-white text-[0.7rem] lg:text-[1rem]">WEDNESDAY</span>
                                          </div>
                                          <textarea name="xxx" id="xxx">
                                              - Yeni Tarif Deneme
                                              - Eğitim Videosu İzle
                                              - Vitamin Almayı Unutma
                                              - Kod İnceleme
                                          </textarea>
                                  </div>
                                  <img class="content-item row-start-10 row-end-13" src="https://i.pinimg.com/564x/8f/50/f9/8f50f90cd21fd02eae9ee254f3429da0.jpg">
                              </div>
                          </div>
                      </div>

                      <div class="md:text-sm text-[0.7rem] text-center lg:pt-5 md:pt-4 pt-3">51</div>
                  </div>
              </div>
          </div>
          <div class="page page-active-next">
              <div class="front">
                      <div class="outer relative">

                          <div class="flex w-full h-full lg:gap-5 gap-3 z-50">
                              <div class="flex flex-1 lg:gap-5 gap-3 second-page">
                                  <div class="content-column">
                                      <div class="content-item bg-[#d9cdf2b5] row-start-1 row-end-4"></div>
                                      <div class="content-item row-start-4 row-end-10 item-border">
                                          <div class="lg:mb-2">
                                              <div class="text-lg lg:text-3xl">13 </div>
                                              <span class="bg-zinc-300 lg:p-1 p-[0.2rem] px-2 text-white text-[0.7rem] lg:text-[1rem]">THURSDAY</span>
                                          </div>
                                          <textarea name="xxx" id="xxx">
                                              - Yürüyüş Yap
                                              - Kariyer Hedefleri Gözden Geçir
                                              - Meditasyon
                                              - Uyku Takibi
                                          </textarea>
                                      </div>
                                      <div class="content-item row-start-10 row-end-13 item-border">
                                          <div class="lg:text-3xl text-lg md:mt-8 mt-4"> SPRING <br> SEMESTER</div>
                                      </div>
                                  </div>
                                  <div class="content-column">
                                      <img class="content-item row-start-1 row-end-5" src="https://i.pinimg.com/736x/30/2d/44/302d44d33a3a1503c08ec657720333ea.jpg">
                                      <div class="content-item row-start-5 row-end-11 item-border">
                                          <div class="mb-2">
                                              <div class="text-lg lg:text-3xl">14</div>
                                              <span class="bg-zinc-300 lg:p-1 p-[0.2rem] px-2 text-white text-[0.7rem] lg:text-[1rem]">FRİDAY</span>
                                          </div>
                                          <textarea name="xxx" id="xxx">
                                              - Sabah Egzersizi
                                              - Günlük E-Postaları Kontrol Et
                                              - Alışveriş Listesi Oluştur
                                              - Rutin Sağlık Kontrolleri
                                              - Meditasyon
                                          </textarea>
                                      </div>
                                      <div class="content-item bg-[#d7a3e39f] row-start-11 row-end-13"></div>
                                  </div>
                                  <div class="content-column">
                                      <img class="content-item row-start-1 row-end-4" src="https://i.pinimg.com/564x/42/e6/b8/42e6b894c0bdf08f6c66dec2c1698ff4.jpg">
                                      <div class="content-item row-start-4 row-end-7 item-border">
                                          <div class="lg:mb-2">
                                              <div class="text-lg lg:text-3xl">15</div>
                                              <span class="bg-zinc-300 lg:p-1 p-[0.2rem] px-2 text-white text-[0.7rem] lg:text-[1rem]">SATURDAY</span>
                                          </div>
                                          <textarea name="xxx" id="xxx">
                                          - Arkadaşlarla Buluş
                                          - Su İçmeyi Hatırla
                                          - Proje Güncellemesi Hazırla
                                          </textarea>
                                      </div>
                                      <div class="content-item row-start-7 row-end-10 item-border">
                                          <div class="lg:mb-2">
                                              <div class="text-lg lg:text-3xl">16 </div>
                                              <span class="bg-zinc-300 lg:p-1 p-[0.2rem] px-2 text-white text-[0.7rem] lg:text-[1rem]">SUNDAY</span>
                                          </div>
                                          <textarea name="xxx" id="xxx">
                                          - Kitap Okuma
                                          - Sosyal Medya Süresi
                                          - Aile ile Görüşme
                                          </textarea>
                                      </div>
                                      <img class="content-item row-start-10 row-end-13" src="https://i.pinimg.com/564x/1b/66/94/1b669455e26fba778061f5363f1aacc2.jpg">
                              </div>
                              </div>
                          </div>

                          <div class="md:text-sm text-[0.7rem] text-center lg:pt-5 md:pt-4 pt-3">52</div>
                      </div>
              </div>
          </div>
          <div class="lg:w-32 w-20 absolute z-[150] bottom-0 curled-page">
              <img src="/assets/img/previous.png" class="image-left absolute md:bottom-3 bottom-2 invisible" id="prev-curled">
          </div>
          <div class="lg:w-32 w-20 absolute bottom-0 right-0 z-[150] curled-page">
              <img src="/assets/img/next.png" class="image-left absolute md:bottom-3 bottom-2 right-0 invisible" id="next-curled">
          </div>
          <div class="book-case">
          </div>
      </div>
      <div class="bracket-box last lg:m-4 m-3">
          <div class="bracket disable">Jan</div>
          <div class="bracket disable">Feb</div>
          <div class="bracket disable">Mar</div>
          <div class="bracket disable">Apr</div>
          <div class="bracket disable">May</div>
          <div class="bracket disable">Jun</div>
          <div class="bracket disable">Jul</div>
          <div class="bracket disable">Aug</div>
          <div class="bracket active">Sep</div>
          <div class="bracket">Oct</div>
          <div class="bracket">Nov</div>
          <div class="bracket">Dec</div>
      </div>
      <div id="next"><i class="fa-solid fa-angle-right arrow"></i></div>
  </div>
  <!-- Books -->
