/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.cdnfonts.com/css/share-tech-mono");
@import url("https://fonts.cdnfonts.com/css/brittney-signature");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .navbar-flex {
    @apply flex
            flex-row
            justify-around
            lg:px-10 sm:px-7;
  }
  .navbar-mounth-item {
    @apply lg:p-4 px-4 py-2
        hover:bg-purple-200
        hover:rounded
        hover:rounded-lg
        hover:cursor-pointer;
  }
  .navbar-mounth-item.active {
    @apply border-none rounded-lg bg-purple-200;
  }
  .navbar-day-item {
    @apply lg:p-4 p-2 px-4
        hover:bg-gray-200
        hover:rounded
        hover:rounded-lg
        hover:text-white
        hover:cursor-pointer;
  }
  .navbar-day-item.active {
    @apply border rounded-lg bg-gray-200 text-black;
  }
  .page-shadow {
    @apply absolute lg:w-5 w-2 bottom-0 top-0 lg:shadow-right shadow-right-sm
          z-50 right-0;
  }
  .menu-year {
    @apply flex
          lg:w-48 lg:p-3 lg:pl-7
          w-48 p-1 pl-4
          rounded rounded-sm
        hover:bg-zinc-100;
  }
  .menu-year.active {
    @apply bg-purple-400 text-white;
  }
  .bracket-box {
    @apply flex flex-col lg:gap-3 md:gap-[0.65rem] gap-2 z-[121];
  }
  .bracket {
    @apply lg:p-3 md:p-2 p-1
          bg-zinc-300 text-white
          relative rounded
          hover:bg-purple-300;
  }
  .first .bracket {
    @apply lg:left-4 left-3
            lg:rounded-tab-left rounded-tab-left-sm
            lg:shadow-tab-left shadow-tab-left-sm;
  }
  .last .bracket {
    @apply lg:right-4 right-3
            lg:rounded-tab-right rounded-tab-right-sm
            lg:shadow-tab-right shadow-tab-right-sm -z-0;
  }
  .bracket.active {
    @apply bg-purple-300;
  }
  .bracket.disable {
    @apply invisible;
  }

  .content-column {
    @apply h-full lg:gap-4 gap-3;
    /* @apply flex-1 grid grid-cols-1 grid-rows-12 h-full lg:gap-4 gap-3; */
  }
  content-column {
    @apply w-full h-full;
  }
  .content-item {
    @apply object-cover w-full max-h-full lg:rounded-xl rounded-md;
  }
  .content-item img{
    @apply object-cover w-full max-h-full;
  }
  textarea {
    @apply bg-[#00000000] lg:h-[calc(100%-5.2rem)] h-[calc(100%-4.2rem)] lg:w-40 md:w-32 w-26 resize-none text-[0.7rem] lg:text-[1rem] leading-5;
  }
  textarea:focus{
    @apply outline-none;
  }
  .item-border {
    @apply border border-zinc-500 lg:p-3 p-1 text-center;
  }
  .content-item div.active {
    @apply bg-gradient-to-b from-purple-300 via-[#00000000] to-[#00000000];
  }

  .base {
    @apply w-[51rem] h-[35rem] min-w-[51rem] min-h-[35rem]
        md:w-[65rem] md:h-[43rem]  lg:w-[80rem] lg:h-[50rem]
          z-[110] backface-hidden perspective-1300;
  }
  .page {
    @apply absolute preserve-3d transition-transform
          w-1/2 h-full left-1/2 origin-left-center
          rounded-[25em/4em] clip-path-ellipse
          bg-white
          shadow-2xl border
          shadow-gray-700;
  }
  .page-before,
  .page-after {
    @apply bg-red-300 border border-red-500  rounded-book;
  }

  .page-active-prev{
    @apply   top-0 left-0;
  }

  .page-active-next {
    @apply z-[103];
  }

  .page > div,
  .outer,
  .helper-class-to-make-bug-visbile {
    @apply absolute h-full w-full;
  }
  .page > div {
    @apply w-full preserve-3d;
  }
  .back {
    @apply transform-rotateY--180;
  }
  .outer {
    @apply w-full overflow-hidden z-[999];
  }
  .page div {
    @apply left-0 top-0;
  }
  .outer {
    @apply py-10 md:py-12 lg:py-14 px-3 md:px-[1.2rem] lg:px-6;
  }
  .book-case {
    @apply h-[94%] md:h-[94%] w-[102%] bg-purple-300 rounded-xl  mt-5 md:mt-7 -ml-2 md:-ml-2 lg:-ml-3 border border-purple-400 shadow-inner;
  }
  .arrow {
    @apply md:text-5xl text-3xl text-gray-400 border p-3 border-gray-400 rounded-xl;
  }
  .arrow:hover {
    @apply text-gray-200 border border-purple-300 bg-purple-300 rounded-xl cursor-pointer;
  }
}
@layer base {
  :root {
    font-family: "Gill Sans", "Gill Sans MT", sans-serif;
    font-size: 10px !important;
    color: rgb(80, 80, 80);
  }
  .grid-start-1 { grid-row-start: 1 ;}
  .grid-start-2 { grid-row-start: 2 ;}
  .grid-start-3 { grid-row-start: 3 ;}
  .grid-start-4 { grid-row-start: 4 ;}
  .grid-start-5 { grid-row-start: 5 ;}
  .grid-start-6 { grid-row-start: 6 ;}
  .grid-start-7 { grid-row-start: 7 ;}
  .grid-start-8 { grid-row-start: 8 ;}
  .grid-start-9 { grid-row-start: 9 ;}
  .grid-start-10 { grid-row-start: 10 ;}
  .grid-start-11 { grid-row-start: 11 ;}
  .grid-start-12 { grid-row-start: 12 ;}
  .grid-start-13 { grid-row-start: 13 ;}
  .grid-end-1 { grid-row-end: 1; }
  .grid-end-2 { grid-row-end: 2; }
  .grid-end-3 { grid-row-end: 3; }
  .grid-end-4 { grid-row-end: 4; }
  .grid-end-5 { grid-row-end: 5; }
  .grid-end-6 { grid-row-end: 6; }
  .grid-end-7 { grid-row-end: 7; }
  .grid-end-8 { grid-row-end: 8; }
  .grid-end-9 { grid-row-end: 9; }
  .grid-end-10 { grid-row-end: 10; }
  .grid-end-11 { grid-row-end: 11; }
  .grid-end-12 { grid-row-end: 12; }
  .grid-end-13 { grid-row-end: 13; }
  .grid-13 {
            display: grid;
            grid-template-columns: repeat(1, minmax(0, 1fr));
            grid-template-rows: repeat(12, minmax(0, 1fr));
          }
}
@layer utilities {
  .transform-origin-left {
    transform-origin: left;
  }
  .transition {
    transition: transform 2s;
  }
}
