      <!-- header -->
      <header class="content-header mt-14 text-center p-5 w-full h-40 relative">
          <span class="lg:text-9xl text-8xl font-share-Tech lg:[text-shadow:_0_6px_5px_rgb(64_64_64_/_0.4)] [text-shadow:_0_4px_3px_rgb(64_64_64_/_0.4)] text-purple-300 absolute -translate-x-2/4">WEEKLY</span>
          <span class="lg:text-6xl text-5xl font-brittney-Signature text-zinc-400 font-extrabold absolute -translate-x-2/4 lg:bottom-2 bottom-10">agenda</span>
      </header>
      <!-- header -->
