<div [class.active]="week.isActive" (click)="onSelect(week.id)" class="h-full w-full" *ngIf="week.text" [class.active]="week.isActive">
  <div class="mb-1 md:mb-2 lg:mb-3 pt-1 md:pt-2 lg:pt-3">
      <div class="text-lg lg:text-3xl">{{week.date.split('.')[0]}} </div>
      <span class="bg-zinc-300 lg:p-1 p-[0.2rem] px-2 text-white text-[0.7rem] lg:text-[1rem]"> {{week.day | uppercase }} </span>
  </div>
  <!-- <textarea [textContent]="week.text"></textarea> -->
  <textarea [(ngModel)]="week.text"></textarea>
</div>



<!--  (mouseover)="pName.value=product.name"
      (mouseleave)="pName.value='(None)'"  -->

